body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comment-body {
  flex: 1 1;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

h5.absolute {
  position: absolute;
  left: 45%;
}

.commentCard {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}